In [2]:
import pandas as pd # import pandas
import numpy as np # import numpy

In [3]:
print(pd.__version__) # check pandas version

1.3.3

In [4]:
df1 = pd.DataFrame({'X':[78,85,96,80,86], 'Y':[84,94,89,83,86],'Z':[86,97,96,72,83]}) # create dataframe from dict
df1

    X   Y   Z
0  78  84  86
1  85  94  97
2  96  89  96
3  80  83  72
4  86  86  83

In [5]:
s1 = pd.Series([2, 4, 6, 8, 10]) # create pandas series from list
s1

0     2
1     4
2     6
3     8
4    10
dtype: int64

In [6]:
my_list = [1,2,3,4,5]
s2 = pd.Series(my_list) # create pandas series from list object
s2

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [7]:
sum = np.sum(s2.value_counts(dropna=False)) # determine no. of observations in series
sum

5

In [8]:
df2 = pd.DataFrame(np.random.rand(20,5)) # create dataframe of random numbers from numpy random module
df2.head() # check top five rows of dataframe

          0         1         2         3         4
0  0.356572  0.700640  0.678683  0.059161  0.700228
1  0.060644  0.767658  0.714575  0.912094  0.868741
2  0.173803  0.506171  0.860622  0.271535  0.568264
3  0.256408  0.908586  0.407648  0.234887  0.993284
4  0.349960  0.088211  0.368510  0.201082  0.398369

In [9]:
df2.tail() # check last 5 rows of datafram

           0         1         2         3         4
15  0.931192  0.517329  0.225536  0.235725  0.272487
16  0.847490  0.498572  0.168913  0.618171  0.794937
17  0.704896  0.298181  0.135215  0.275701  0.533900
18  0.772641  0.265023  0.711068  0.852934  0.948453
19  0.102287  0.661101  0.822023  0.496463  0.772590

In [10]:
df2.describe() # summary statistics for dataframe

               0          1          2          3          4
count  20.000000  20.000000  20.000000  20.000000  20.000000
mean    0.476552   0.538716   0.569780   0.392514   0.642102
std     0.269449   0.253218   0.279747   0.277787   0.301874
min     0.060644   0.029410   0.135215   0.025130   0.024925
25%     0.237949   0.360453   0.355214   0.182057   0.500017
50%     0.489308   0.523587   0.599754   0.273618   0.726248
75%     0.673206   0.713027   0.781379   0.612795   0.888669
max     0.931192   0.925669   0.984230   0.912094   0.993284

In [11]:
df2.shape # shape of dataframe (20 rows, 5 columns)

(20, 5)

In [12]:
df2.info() # descriptive information about dataframe, including datatypes, null values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       20 non-null     float64
 1   1       20 non-null     float64
 2   2       20 non-null     float64
 3   3       20 non-null     float64
 4   4       20 non-null     float64
dtypes: float64(5)
memory usage: 928.0 bytes